﻿@page "/component1"

<nav class="navbar navbar-light bg-light">
	<h1 class="navbar-brand mb-0 h1">
		Add items to the inventory
	</h1>
</nav>

<form @onsubmit="OnAddItems">
    <br/>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Item name</label>
        <select class="form-control" id="exampleFormControlSelect1" @bind="_itemName">
         <option>Dispad</option>
         <option>Side light</option>
         <option>Engine oil</option>
         <option>Brake oil</option>
         <option>Accelator wire</option>
    </select>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlInput1">Quantity</label>
        <input type="number" class="form-control" min="1" @bind="_quantity">
  </div>
  <br/> 
  <button type="submit" class="btn btn-primary">Add</button>
    <br/>
    <br/>
    @if (_displayMessage)
    {
        <AlertMessage Type="danger" Message="Item successfully added" />
        _displayMessage = false;
    }
</form>

@code {
    public List<InventoryItems> _items { get; set; }
    public string _itemName{ get; set; }
    public int _quantity { get; set; }
    public bool _displayMessage = false;
    protected override void OnInitialized()
    {
        _items = InventoryService.GetAll();
    }

    private void OnAddItems()
    {
        bool itemExists = _items.Any(x => x.ItemName == _itemName);

        if (itemExists)
        {
            _items = InventoryService.Update(_itemName, _quantity);
            _displayMessage = true;
        }
        else
        {

            _items = InventoryService.Create(ItemName: _itemName, Quantity: _quantity);
            _displayMessage = true;
        }

    }


}

<style>
	h3{ 
		margin:auto;
	}
</style>
