﻿@page "/InventoryLog"

<nav class="navbar navbar-light bg-light">
	<h1 class="navbar-brand mb-0 h1">
		Items taken from inventory
	</h1>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Staff's Name</th>
      <th scope="col">Item Name</th>
       <th scope="col">Item Retrieved Date </th>
        <th scope="col">Quantity </th>
    </tr>
  </thead>
  <tbody>
        @foreach (StaffRecord item in _staffRecords)
        {
            index = index + 1;
            
                <tr>
                    <th scope="row">@index</th>
              <td>@item.StaffName</td>
              <td>@item.ItemName</td>
              <td>@item.ItemRetrievedDate</td>
                  <td>@item.Quantity</td>
                </tr>
            
        }
  </tbody>
</table>

@code {
    public int index { get; set; }

    public List<StaffRecord>_staffRecords{ get; set; }

    protected override void OnInitialized()
    {
      _staffRecords = StaffService.GetAll();
    }
}
