﻿@page "/InventoryDetails"


<nav class="navbar navbar-light bg-light">
	<h1 class="navbar-brand mb-0 h1">
		All the items in the inventory
	</h1>
</nav>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
      <th scope="col">Date last retrieved</th>
    </tr>
  </thead>
  <tbody>
      @foreach(InventoryItems item in _inventoryItems){
            index = index + 1;

            if (item.Quantity != 0)
            {
                    <tr>
                        <th scope="row">@index</th>
              <td>@item.ItemName</td>
              <td>@item.Quantity</td>
              <td>@item.LastTakenOut</td>
                    </tr>
            
        }else{
        Console.WriteLine("The item cant be included in the list");
        }
      }
  </tbody>
</table>

@code{
    public int index { get; set; }

    public List<InventoryItems> _inventoryItems { get; set; }

    protected override void OnInitialized()
    {
        _inventoryItems = InventoryService.GetAll();
    }
}
