﻿@page "/login"
@inject NavigationManager NavManager

<div class="login-body">
	<div class="form-login">
		<form class="text-center" @onsubmit="LoginHandler">
			<br />
			<br/>
			<br />
			<br />
			<br />
			<br />
			<br />
			<img class="mb-40" src="/appicon.png" alt="" height="192">
			<h1 class="h3 mt-40 mb-3 fw-normal">Login</h1>
			<br/>
			<div class="email_address" >
				<input class="form-control col-12" @bind="_username" placeholder="email address" />
			</div>
			<br />
			<div class="password" >
				<input type="password" class="form-control col-12" @bind="_password" placeholder="password" />
			</div>
			<br/>
			@if (!string.IsNullOrEmpty(_errorMessage))
            {
				<div class="alert_stuff">
					<AlertMessage Type="danger" Message="@_errorMessage" />
				</div>
                
            }
			<br/>
			<button class="btn btn-danger mb-1" type="submit">
				 Login
			</button>
			<br/>
			<p>Don't have an account?<a href="/register">Register</a></p>
		</form>
	</div>
</div>

@code {
    [CascadingParameter]
    private GlobalState _globalState { get; set; }
    private bool _showDefaultCredentials { get; set; }
    private string _username { get; set; }
    private string _password { get; set; }
    private string _errorMessage = "";

    protected override void OnInitialized()
    {
        try
        {
            var user = UsersService.Login(UsersService.SeedUsername, UsersService.SeedPassword);
            _showDefaultCredentials = user.HasInitialPassword;
        }
        catch { }

        _globalState.CurrentUser = null;
        _errorMessage = "";
    }

    private void LoginHandler()
    {
        try
        {
            _errorMessage = "";
            _globalState.CurrentUser = UsersService.Login(_username, _password);
            if (_globalState.CurrentUser != null)
            {
                NavManager.NavigateTo(_globalState.CurrentUser.HasInitialPassword ? "/homepage" : "/");
            }
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
            Console.WriteLine(e);
        }
    }
}


<style>
	.email_address{
		width : 20%;
		margin: auto;
	}

	.password {
		width: 20%;
		margin: auto;
	}

	.btn{ 
		width:20%;
	}

	.alert_stuff {
		width: 20%;
		margin: auto;
	}
</style>
