﻿@page "/register"
@inject NavigationManager NavManager

<div class="login-body">
	<div class="form-login">
		<form class="text-center" @onsubmit="RegisterHandler">
			<br />
			<br />
			<br />
			<br />
			<br />
		
			<img class="mb-40" src="/appicon.png" alt="" height="192">
			<h1 class="h3 mt-40 mb-3 fw-normal">Register</h1>
			<br />
			<div class="email_address">
                <input class="form-control col-12" placeholder="email address" @bind="_username" />
			</div>
			<br />
			<div class="password">
                <input type="password" class="form-control col-12" placeholder="password" @bind="_password" />
			</div>
			<br />
			<div class="phone_number">
				<input type="text" class="form-control col-12" placeholder="phone number" @bind="_phonenumber" />
			</div>
			<br />
			<button class="btn btn-danger mb-1" type="submit">
				Register
			</button>
			<br />
			<p><a href="/login">Go back to Login</a></p>
		</form>
	</div>
</div>

@code{
	[CascadingParameter]
	private GlobalState _globalState { get; set; }
	private List<User> _users { get; set; }
	private bool _showAddUserDialog { get; set; }
	private bool _showDeleteUserDialog { get; set; }
	private string _addUserErrorMessage { get; set; }
	private string _deleteUserErrorMessage { get; set; }
	private User _deleteUser { get; set; }
	private string _username { get; set; }
	private string _password { get; set; }
	private string _phonenumber { get; set; }
	private Role _role { get; set; }
	public Guid Id { get; set; } = Guid.NewGuid();

	protected override void OnInitialized()
	{
		_users = UsersService.GetAll();
	}

	private void RegisterHandler()
	{
		
		try
		{
			_addUserErrorMessage = "";
			_users = UsersService.Create(Id, _username, _password,_phonenumber, Role.User);
			_showAddUserDialog = false;
			NavManager.NavigateTo("/login");
		}
		catch (Exception e)
		{
			_addUserErrorMessage = e.Message;
		}
	}

    

}



<style>
	.email_address {
		width: 20%;
		margin: auto;
	}

	.password {
		width: 20%;
		margin: auto;
	}

	.phone_number {
		width: 20%;
		margin: auto;
	}

	.btn {
		width: 20%;
	}
</style>