﻿@page "/homepage"

<nav class="navbar navbar-light bg-light">
	<h1 class="navbar-brand mb-0 h1">
		Approve the removal of items from
		the inventory.
	</h1>
</nav>

<form @onsubmit="RemoveItem">
    <br/>
  <div class="form-group">
    <label for="exampleFormControlInput1">Staff's full name</label>
        <input type="text" class="form-control" @bind="_staffName"
        placeholder="Enter staff's name"
        >
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Items</label>
        <select class="form-control" id="exampleFormControlSelect1" @onchange="maxQuantity"  >

            <option>Dispad</option>
         <option>Side light</option>
      <option>Engine oil</option>
      <option>Brake oil</option>
      <option>Accelator wire</option>
    </select>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlInput1">Quantity</label>
        <input type="number" min="1" max="@_maxQuantity" class="form-control" @bind="_quantity">
  </div>
  <br/> 
  <div class="form-group">
      <label  for="exampleFormControlInput1">Date of removal</label>
      <input id="dueDate" type="date" 
            value='@DueDate.ToString("yyyy-MM-dd")' @onchange="updateDate" class="form-control text-left"
            placeholder="Due Date" >
  </div>
  <br/>
  <button type="submit" class="btn btn-primary">Approve</button>
  <br/>
  <br/>
  @if (_displayMessage)
    {
        <AlertMessage Type="danger" Message="Item successfully removed" />
        _displayMessage = false;
    }
    
</form>
  


@code {
    public List<StaffRecord> _staffRecords { get; set; }
    public string _staffName { get; set; }
    public string _itemName { get; set; }
    public int _quantity { get; set; }
    public List<InventoryItems> _chosenItem { get; set; }
    public int _maxQuantity { get; set; }
    //public List<string> index { get; set; }
    public List<InventoryItems> _items { get; set; }
    public List<int> _quantityinfo { get; set; }
    public String dateError { get; set; }
    public DateTime DueDate { get; set; } = DateTime.Today;
    public string DueDate2 { get; set; }
    public bool _displayMessage = false;




    private void updateDate(ChangeEventArgs e)
    {

        DueDate = DateTime.Parse(e.Value.ToString());
        DueDate2 = DueDate.ToString().Substring(0,10);

    }
    protected override void OnInitialized()
    {
        _items = InventoryService.GetAll();
        _chosenItem = InventoryService.GetAll().Where(i => i.ItemName=="Dispad").ToList();
        if (_chosenItem.Count == 0)
        {
            _maxQuantity = 0;
        }
        else
        {
            _maxQuantity = _chosenItem[0].Quantity;
        }

    }

    private void maxQuantity(ChangeEventArgs e)
    {
        _itemName = e.Value.ToString();
        _chosenItem = InventoryService.GetAll().Where(i => i.ItemName==_itemName).ToList();
        _maxQuantity = _chosenItem[0].Quantity;
    }


    private void RemoveItem()
    {
        //Create(string StaffName, string ItemName, DateTime ItemRetrievedDate, int Quantity)
        _staffRecords = StaffService.Create(StaffName: _staffName, ItemName: _itemName, ItemRetrievedDate: DueDate2, Quantity: _quantity);
        _items = InventoryService.Remove_Item(_itemName, _quantity, DueDate2);
        _displayMessage = true;
    }


}
<style>
	h3 {
		margin: auto;
	}
</style>