﻿<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Wed2</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="homepage">
				 Remove items
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="component1">
				 Add items
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="InventoryLog">
				 Inventory log
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="InventoryDetails">
				 Inventory details
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
